*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    background-color:#CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 5px 10px;
    gap:20px;
}
.nav-title{
}
.search{
    flex: 2;
}
.login{
    flex: none;
    background-color:#2B78E4 ;
    color: white;
    box-shadow: 3px 2px black;
    width: 70px;
}
/*main*/
.main{
    margin-top: 20px;
    border: 2px solid black;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ninja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color:#FFD966 ;
    box-shadow: 2px 2px black;
    height: 30px;
}
.pa{
    display: flex;
    justify-content: left;
}
.btn1{
    background-color:#93C47D ;
    box-shadow: 2px 2px black;
    height: 30px;
}
.dojonary{
    height: 50%;
    margin-top: 20px;
    border: 2px solid black;
    padding: 15px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: auto;
    margin: auto;
    width: 75%;
}
.container{
    display: flex;
    gap: 10px;
}
.right{
    flex: 2;
}